asgiref==3.2.3
asn1crypto==1.3.0
astroid==1.6.6
attrs==19.3.0
Automat==0.8.0
autopep8==1.4.4
awscli==1.17.3
beautifulsoup4==4.8.2
boto3==1.9.96
botocore==1.12.189
certifi==2020.4.5.1
cffi==1.14.0
chardet==3.0.4
click==7.1.1
cligj==0.5.0
cmudict==0.4.3
colorama==0.4.1
constantly==15.1.0
coverage==3.6
cryptography==3.2
cssselect==1.1.0
cycler==0.10.0
dateparser==0.7.2
dj-database-url==0.5.0
Django==2.2.13
django-bootstrap4==1.0.1
django-crispy-forms==1.7.2
django-heroku==0.3.1
django-storages==1.7.1
docutils==0.14
et-xmlfile==1.0.1
extruct==0.8.0
furl==2.1.0
gunicorn==19.9.0
html-text==0.5.1
html5lib==1.0.1
hyperlink==19.0.0
idna==2.8
incremental==17.5.0
isodate==0.6.0
isort==4.3.21
jdcal==1.4.1
Jinja2==2.10.3
jmespath==0.9.4
joblib==0.14.0
jupyter==1.0.0
jupyter-console==6.0.0
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
lxml==4.4.2
MarkupSafe==1.1.1
matplotlib==3.1.1
mccabe==0.6.1
mf2py==1.1.2
mkl-fft==1.0.6
mkl-random==1.0.1
mpmath==1.1.0
nltk==3.4.5
nose==1.3.7
numpy==1.17.4
olefile==0.46
openpyxl==3.0.2
orderedmultidict==1.0.1
pandas==0.25.3
parsel==1.5.2
Pillow==5.2.0
pronouncing==0.2.0
Protego==0.1.16
psycopg2==2.7.7
psycopg2-binary==2.8.5
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.5.0
pycparser==2.20
PyDispatcher==2.0.5
PyHamcrest==1.10.1
pylint==1.9.4
pyOpenSSL==19.1.0
pyparsing==2.4.5
PySocks==1.7.1
python-dateutil==2.8.0
python-firebase==1.2
pytz==2018.5
PyYAML==5.2
qtconsole==4.5.5
queuelib==1.5.0
rank-bm25==0.2
rdflib==4.2.2
rdflib-jsonld==0.4.0
readability-lxml==0.7.1
regex==2020.1.8
requests==2.19.1
rsa==3.4.2
s3transfer==0.2.0
scikit-learn==0.21.3
scipy==1.3.2
Scrapy==1.8.0
scrapy-dotpersistence==0.3.0
scrapy-splash==0.7.2
selenium==3.141.0
service-identity==18.1.0
six==1.12.0
soupsieve==1.9.5
South==1.0.2
sqlparse==0.3.0
sympy==1.4
textblob==0.15.3
tornado==6.0.3
Twisted==19.10.0
tzlocal==2.0.0
urllib3==1.23
w3lib==1.21.0
webencodings==0.5.1
whitenoise==4.1.2
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.11.2
zope.interface==4.7.1
